/*****************************/
/*       General.scss        */
/* Main styles for DataStory */
/*****************************/

@import "compass";
@import "compass/css3";
@import "compass/utilities";

$error-color : #ff8;

$color-on : #3496AE;
$color-off : #606060;
$color-on_text : #fff;
$color-off_text : #555;
$black: #000;

$font-size : 1em;

$background-color:#fff;
$shadow-color:#7f7f7f;
$dark-color:#f2f2f2;
$border-color:#e5e5e5;

$container-width:900px;
$grid-cols: 8;
$row-h: 30px;
$col-w: $container-width / $grid-cols;

@mixin narrow-text{
    letter-spacing:-1px;
    font-stretch: 90%;
    text-transform: uppercase;
    font-weight:bold;
}

@mixin explainer{
    font-size: $font-size + .2;
}

@mixin title_font{
    font-size: $font-size + .2;
    font-family: Georgia, Serif;
    color:$color-off_text;

}

@mixin inset_input($shadow-length){
    color:$color-off_text;
    background-color:$dark-color;
    @include single-box-shadow("#999", 0, 0, $shadow-length, $shadow-length/2, true);
    border: 1px solid $shadow-color;
}

/***************/
/*   General    /
/***************/

html {
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    background-color:$dark-color;
    text-align: center;
    height: 100%;
}

#black_veil{
    display:none;
    width: 100%;
    min-height: 100%;
    background-color: #000;
    @include opacity(0.8);
    position: fixed;
    z-index:4;
    top:0;
    left:0;
}

$loader-w: 10%;
$loader-h: 10%;

#loader{
    position:fixed;
    z-index:5;
    display:none;
    top: 50% - $loader-h/2;
    left: 50% - $loader-w/2;
}

.clear{
    clear:both;
}

/***************/
/*    Header    /
/***************/

$header-height : $row-h * 4;
$logo-w: $row-h * 2;
$navbar-height: $row-h;

#header{
    width: $container-width;
    position:relative;
    top:0;
    left:0;
    height: $header-height;
}

#logo{
    position:absolute;
    z-index:2;
    margin-left:$col-w/2;
    margin-top:$navbar-height;
    color: #282828;
    font-size:$font-size + .7;
    font-weight:bold;
    cursor: pointer;
    &:hover { color: $color-off_text; }
}

#navbar{
    width: $container-width;
    background-color:$background-color;
    position:absolute;
    top:$navbar-height*2;
    left:0;
    height: $navbar-height;
    border-bottom:$border-color 1px solid;

    #languages{
        width: $col-w * 3;
        float:right;
        font-size: $font-size - .3em;
        
        .language{
            float:right;
            margin: $row-h/2 5px 0 0;
            color: $color-off;
            cursor: pointer;
            &:hover { color: $black; }
        }
    }

    #loggedin{
        /* width: $col-w * 4; */
        float:left;
        margin: 0 0 0 $col-w * 1.4;
        font-size: $font-size - .3em;

        #loggedas{
            float:right;
            margin: $row-h/2 5px 0 0;
            color: $color-off_text;
        }

        #logout{
            margin: $row-h/2 5px 0 0;
            float:right;
            cursor: pointer;
            color: $color-on;
            &:hover { color: $color-off_text; }
        }
    }
}

/***************/
/*   Container  /
/***************/

#container{

    width: $container-width;
    margin: 0 auto;
    text-align:left;
    min-height: 100%;

    overflow:hidden;

    font-family: Arial, Helvetica, Sans-serif;
    background-color:$background-color;
    color:$color-off_text;

    @include box-shadow($shadow-color 0px 0px 10px);

    a{
        text-decoration:none;
        color: $color-off_text;
        &:hover { text-decoration:underline; }
    }
}

#screen_container{
    min-height:$row-h*11;
    position: relative;
    top: 0;
    left: 0;
    padding:$row-h $col-w;
    overflow: hidden;
}


/***************/
/*   Buttons   */
/***************/

$button-color-top: #fff;
$button-color-bottom: #ccc;

.button{
    
    cursor:pointer;
        
    background: $button-color-top;
    @include background-image(linear-gradient($button-color-top, $button-color-bottom)); 
    @include border-radius(2px);
    
    border-color: #E3E3E3 #DBDBDB #DBDBDB #E3E3E3;
    border-right: 1px solid #DBDBDB;
    border-style: solid;
    border-width: 1px;
    color: #444444;

    @include text-shadow(rgba(white, 0.2) 1px 1px 0, rgba(white, 0.2) 1px 1px 0, rgba(white, 0.2) 1px 1px 0);
}

.nav{
        font-size: $font-size + .2;
        width: $col-w - $col-w/10;
    }

#buttons{
    position:absolute;
    top: $row-h * 13;
    width: $container-width;
    z-index:2;
}

#button_next, #button_prev{
    cursor:pointer;
    width: $col-w;
    text-align:center;
}

#button_next{
    float:right;
}

#button_prev{
    float:left;
}

/***************/
/* Breadcrumbs */
/***************/

$breadcrumbs-height: $row-h;
$breadcrumbs-width: $container-width;
$breadcrumbs_steps: 4;
$breadcrumbs-padding: 8px;

@mixin transpose-on-off{
    float:left;
    width: $col-w * ($grid-cols / $breadcrumbs_steps) - $breadcrumbs-padding;
    margin: 0 $breadcrumbs-padding/2;
    padding: 5px 0;
    text-align:center;
    @include border-radius(6px);
    @include narrow-text;
}

#breadcrumbs{
    
    height: $breadcrumbs-height;
    width : $breadcrumbs-width;
    text-align:center;

    .on{
        background-color:$color-on;
        color:$color-on_text;
        @include transpose-on-off;
    }

    .off {
        background-color:$color-off;
        color:$color-off_text;
        @include transpose-on-off;
    }
}

/***************/
/* Error box   */
/***************/
#error{
    display:none;
    color:#000;
    font-weight:bold;
    cursor:pointer;
        
    background: $error-color;
    @include background-image(linear-gradient($error-color, scale-lightness($error-color, -20))); 

    font-size:12px;    
    
    padding:5px 10px;
    margin:5px;
    
    width: $col-w * 2;

    z-index: 5;
    position:absolute;
    top:10px;
    right:10px;


    @include single-box-shadow;

    @include border-radius(6px);
}

/****************/
/* Input screen */
/****************/

$textarea-padding: 10px;

#input{
    
    position:relative;
    z-index:3;

    #explainer{
        @include explainer;
    }
    #input_data{
        width:$col-w * 6 - $textarea-padding * 2;
        @include inset_input(10px);
        height: $row-h * 5;
        padding:$textarea-padding;
    }
}


/****************/
/* Check screen */
/****************/

$table-padding: 10px;

#check{
    #explainer{

        @include explainer;

        #sub_explainer{
            
            font-size: $font-size - .2;

            p{
                margin: 5px 10px;
            }

            .transpose{
                font-size: $font-size - .2;
                width: $col-w * 2;
            }
        }
    }

    table{
        margin-top: 10px;
        width:$col-w * 6 - $table-padding * 2;
        padding:$table-padding;
        font-size: $font-size - .2;
    }

    td{
        background-color:$dark-color;
        text-align:center;
        width:$col-w;
    }

    .header_cell{
        font-weight: bold;
        background-color:$color-on;
    }

    .empty_cell{
        background-color:$background-color;
    }
}

/********************/
/* Visualize screen */
/********************/

$customizator-margin-bottom: 5px;

#visualize{

    #chart{
        width: $col-w *6;
        height: $row-h * 10;
        margin: $row-h 0;
        padding: 0;
        overflow:hidden;
    }

    #explainer{
        @include explainer;
    }

    #chart_customization{
        
        width:$col-w * 6 ;
        height:$row-h * 3;
        padding:0;

        input, select{
            width:$col-w * 2 - $table-padding * 4;
            font-size: $font-size;
            @include inset_input(1px);
            height:$row-h - $customizator-margin-bottom;
        }
        input{
            padding: 0 $table-padding;
        }
        select{
            width:$col-w * 2 - $table-padding * 2;
            padding:4px 0 0 4px;
        }

        .desc{
            width:$col-w * 4 - $table-padding * 4;
        }

        .inactive{
            background-color:$dark-color;
            color:$color-on_text;
            border:$shadow-color;
        }
    }

    #chart_info{
        position:absolute;
        top:$row-h*2 - 4;
        left:$col-w*7 - 10;
        
        width:25px;
        height:21px;

        background-image:url('../../images/question_mark.png');

        cursor:pointer;
    }

    #chart_desc_box{
        position:absolute;
        top:$row-h*3 - 3;
        left:$col-w*5;
        z-index:2;
        
        font-size:$font-size - .25;
        
        width: $col-w * 2 ;
        border:$shadow-color 1px solid;
        background: $background-color;
        @include border-radius(2px);
        @include box-shadow($shadow-color 0px 0px 5px);
        padding:5px;

        display:none;

        img{
            width:15px;
            height:15px;
        }
    }

    .chart_customizator{
        width: $col-w * 2 ;
        height: $row-h;
        float:left;
        font-size: $font-size - .1;
        margin: 0 0 $customizator-margin-bottom 0;
    }
}

/********************/
/*  Publish screen  */
/********************/

$chart-h:300px;
$chart-w:400px;
$embed_extras-h: 50px;

#publish{

    #explainer{
        @include explainer;
    }

    p{
        margin: 8px 0 2px 0;
    }

    #direct_link_url{
        width: $col-w * 4;
        margin: 0 $col-w;
        padding: 2px;
        font-size: $font-size;
        @include inset_input(1px);
        margin-bottom: 5px;
    }

    #iframe_code{
        position:relative;
        z-index:3;
        width: $col-w * 4;
        height:$row-h * 2;
        margin: 8px $col-w;
        font-size: $font-size;
        @include inset_input(1px);
        margin-bottom: 5px;
    }

    .embed_customization{
        font-size: $font-size - .1;
        margin-bottom: 5px;
    }

    .embed_customizator{
        position:relative;
        z-index:3;
        width: 40px;
        @include inset_input(1px);
    }

    #embed{

        margin: 0 auto;
        background-color: #fff;

    }
}

/*************/
/*  Log in   */
/*************/

#login, #signup{
    
    width: $col-w * 3 - 20;
    float:left;

    .login{

        @include inset_input(3px);
        @include border-radius(2px);

        float:left;
        width: $col-w * 2.5;
        margin: 5px 0;
        font-size: $font-size;
        height: $font-size + .3;
        padding: 2px 7px;

    }
}

#login_submit, #signup_submit, #show_signup{
        font-size: $font-size - .1;
        line-height: $font-size + .7;
        font-weight: bold;
        margin: 10px;
    }

#show_signup{
    @include background-image(linear-gradient(lighten($color-on, 40%), $color-on)); 
}

#about{
    width: $col-w * 3 - 5px;
    float:left;
    padding-top:15px;
    margin-right:20px;
    background-color:$dark-color;
    border: 1px solid $border-color;
    @include title_font;
    @include border-radius(8px);

    p{
        margin:0 0 0 0;
        padding: 15px;
    }
}

#signup{
    display:none;
}

#verify{
    width: 100%;
    display:none;
    padding:15px;
    margin-right:20px;
    background-color:scale-lightness($color-on, 80);
    border: 1px solid $border-color;
    @include border-radius(8px);
    font-size: $font-size - .2;
}

/************************************/
/*              Popups              */
/************************************/

.popup{
    padding: 20px;
    margin: 0;
    background-color:$dark-color;
    height: 100%;
    width:$col-w*6;
    text-align: left;
    font-family: Arial, Helvetica, Sans-serif;
    color:scale-lightness($color-off_text, -20);
    font-size: $font-size - .1;

}

/************************************/
/*              Footer              */
/************************************/

#footer{
    padding: 20px;
    height:50px;
    margin-top:-50px; 
    margin: 0;
    text-transform:uppercase;
    color:scale-lightness($color-off_text, -20);
    font-size: $font-size - .3;

    .separator{
        color:$color-off_text;
    }

}

/************************************/
/*              Embed               */
/************************************/
/* Also visible on 'publish' screen */

#embed_extras{
    height: $embed_extras-h;
    text-align:left;
    width: 100%;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: $font-size - .3;
    color: #000;
    padding: 0 5px;

    p{
        margin: 0 5px;
    }

    #export_csv{
        font-size: $font-size - .2;
        float:right;
        margin: 0 10px;
    }

    .desc{
        font-weight:bold;
    }

    #source{
        font-style: italic;
    }

    .source_url{
        color: #000;
        &:hover { text-decoration:underline; }
    }
}