/*****************************/
/*       embed.scss          */
/* Styles for embeds         */
/*****************************/
/* line 6, ../sass/embed.scss */
html {
  height: 100%;
}

/* line 10, ../sass/embed.scss */
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  text-align: center;
  height: 100%;
}

/* line 18, ../sass/embed.scss */
#chart {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}
